html {
  overflow: hidden;
  font-size: 20px;
  background-image: url(./img/pexels-pixabay-302457.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  margin: 0;
}

h4 {
  color: #a20000;
  font-size: 50px;
  text-align: center;
  margin: 5px auto;
}

button {
  cursor: pointer;
  border: 1px solid transparent;
}

button:disabled {
  cursor: default;
  opacity: 0.6;
}

.buent:hover:disabled {
  background-color: #ff0000;
}

#calcular:hover:disabled {
  background-color: rgb(107, 47, 209);
}

.container {
  background-image: linear-gradient(
    180deg,
    hsl(35deg 42% 91%) 0%,
    hsl(35deg 47% 90%) 21%,
    hsl(36deg 50% 88%) 30%,
    hsl(37deg 52% 86%) 39%,
    hsl(38deg 53% 84%) 46%,
    hsl(39deg 54% 83%) 54%,
    hsl(39deg 54% 81%) 61%,
    hsl(40deg 54% 79%) 69%,
    hsl(41deg 53% 77%) 79%,
    hsl(42deg 53% 75%) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  width: max-content;
  margin: 150px auto;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
}

.entPrim {
  font-size: 40px;
  padding: 10px 5px;
}

.buent {
  cursor: pointer;
  padding: 10px;
  background-color: #ff0000;
  transition: 0.3s;
}

.buent:hover {
  background-color: #d70202;
}

.containerEnt {
  display: flex;
}

#calcular {
  font-size: 24px;
  background-color: rgb(107, 47, 209);
  color: #fff;
  transition: 0.3s;
}

#calcular:hover {
  background-color: rgb(71, 21, 158);
}

.valores {
  display: flex;
  margin-bottom: 20px;
}

.numeros {
  display: grid;
  margin: 10px auto;
  grid-template-columns: repeat(6, 1fr);
  background-color: #0000009a;
  border-radius: 6px;
  padding: 10px;
  gap: 6px;
}

.numeros button {
  border-radius: 5px;
  font-size: 20px;
  padding: 18px 5px;
  background-color: rgb(229, 243, 255);
}

.numeros button:hover {
  background-color: rgb(197, 228, 255);
}

#novo {
  background-color: rgb(255, 138, 138);
  transition: 0.3s;
}

#novo:hover {
  background-color: rgb(255, 97, 97);
}

@media (max-width: 1100px) {
  .valores {
    margin-bottom: auto;
  }
  .entPrim {
    font-size: 22px;
  }
  #calcular {
    font-size: 18px;
  }
  .numeros {
    padding: 5px;
    gap: 3px;
  }
  .numeros button {
    padding: 10px 5px;
  }
  h4 {
    font-size: 28px;
  }
}

@media (max-width: 500px) {
  html {
    background-size: auto;
    background-position: right;
  }
  .valores {
    flex-direction: column;
    align-items: center;
  }
  #calcular {
    margin-top: 5px;
    padding: 8px;
    border-radius: 5px;
  }
  .numeros {
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }
  .buent {
    border-radius: 0 5px 5px 0;
  }

  @media (max-width: 350px) {
    html {
      background-position: initial;
    }
    .container {
      width: 275px;
      margin: 15px auto;
    }
    .numeros {
      grid-template-columns: repeat(3, 1fr);
    }
    .entPrim {
      max-width: 200px;
    }
  }
}
